<h1 style='text-align: center'>Laura API password recovery</h1>
<hr />
<div style='text-align: center'>
  <br />
  To recover your password please follow this
 <%= link_to 'link', users_password_recovery_form_url(token: @password_recovery_token) %>
</div>
